*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%; /* this will be 16px on most browsers */
  line-height: 1.5; /* this is a multiple of the font size (1.5 * 16px = 24px) */
}

body {
  margin: 0;
}

img {
  display: inline;
  grid-column: 1;
  max-width: 100%
}


figure {
  margin: 0;
}

.film {
  max-width: 60%;
  max-height: 290px;
  margin: 40px auto;
  border: 1px solid lightgrey;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.film-details {
  grid-row: 1;
  grid-column: 2;
  position: relative;
  margin-right: 11px;
  margin-left: 10px;
}

.action-watch-later {
  position: relative;
  color: red;
  bottom: 85%;
  left: 80%
}

.action-like {
  color: red;
  margin-top: 20px;
  position: absolute;
  bottom: 30px;
  right: 0px;
}

.film-poster {
  margin-top: 10px;
  margin-left: 10px;
}